<div>
    <a class="btn btn-primary"  [routerLink]="['user']">Criar um novo</a>
    <br /><br />
    <input type="text" name="filter" placeholder="Filtro" (keyup)="setFilterBy($event)" />
    <br /><br />
    <button (click)="setDirection('asc')">Crescente</button> | <button (click)="setDirection('desc')">Descrescente</button>

    <br /><br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">e-mail</th>
                <th scope="col">nome</th>
                <th scope="col">idade</th>
                <th scope="col">telefone</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of this.users | filter: filter | order: direction">
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.phone }}</td>
                <td><a [routerLink]="['/user', user.id]">alterar</a></td>
            </tr>
        </tbody>
    </table>
</div>