<div>
    <app-loading [show]="loading"></app-loading>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <h4>{{ titleForm | uppercase }}</h4>

        <div class="form-group">
            <input type="text" name="name" formControlName="name" placeholder="nome" />
            <div class="validation-message" *ngIf="isInvalid('name')">O campo nome é obrigatório</div>
        </div>

        <div class="form-group">
            <input type="email" name="email" formControlName="email" placeholder="e-mail" />
            <div class="validation-message" *ngIf="isInvalid('email')">O campo e-mail é obrigatório</div>
        </div>

        <div class="form-group">
            <input type="number" name="age" formControlName="age" placeholder="idade" />
            <div class="validation-message" *ngIf="isInvalid('age')">O campo idade é obrigatório</div>
        </div>

        <div class="form-group">
            <input type="phone" name="phone" formControlName="phone" placeholder="telefone" />
            <div class="validation-message" *ngIf="isInvalid('phone')">O campo telefone é obrigatório</div>
        </div>
        <div>
            <a [routerLink]="['/']">voltar para lista</a>&nbsp;&nbsp;&nbsp;
            <button type="submit" [disabled]="!userForm.valid">{{ buttonName }}</button>
        </div>

    </form>
</div>